In [23]:
import pandas as pd
import numpy as np

In [12]:
"""
No Jupyter Notebook, vcs irão realizar as seguintes atividades: Criar uma lista de valores aleatórios 
(ex: idades dos integrantes de uma sala de aula, altura, etc.)  
e identificar os valores máximo, mínimo e média dessa lista. Criar uma segunda lista com valores aleatórios. 
Após isso, criar um dataframe que será composto por colunas a partir das duas listas criadas. (Aula02 no Teams)
"""

tabela_um = {
    "nome":["Luis", "Vinicius", "Fellipe"],
    "idade":[20, 15, 60]
}
df_um = pd.DataFrame(tabela_um)
df_um.head()

       nome  idade
0      Luis     20
1  Vinicius     15
2   Fellipe     60

In [11]:
tabela_dois = {
    "nome":["Andre", "Paulo"],
    "idade":[3, 18]
}
df_dois = pd.DataFrame(tabela_dois)
df_dois.head()

    nome  idade
0  Andre      3
1  Paulo     18

In [26]:
df_concatenado = pd.concat([df_um, df_dois], ignore_index=True)
df_concatenado

       nome  idade
0      Luis     20
1  Vinicius     15
2   Fellipe     60
3     Andre      3
4     Paulo     18

In [27]:
idades = df_concatenado['idade'].tolist()
print("maximo -> ",np.max(idades))
print("minimo -> ",np.min(idades))
print("media -> ",np.average(idades))

maximo ->  60
minimo ->  3
media ->  23.2